
<div>
    <div class="import-csv">
        <div class="import-text">CSV file importer</div>
        <input
        #fileUploadSimple
        [accept]="'.csv'"
        type="file"
        (change)="importDataFromCSV($event)"
        hidden="true"
        />
        <button (click)="fileUploadSimple.click()">Import from csv</button>
    </div>

    <div *ngIf="importedData.length > 0" class="filter-input">
        <input type="search" class="form-control"  [(ngModel)]="filter" placeholder="Filter by name">
    </div>
    <div class="table-container" *ngIf="importedData.length > 0">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th class = "header-item" (click)="sort('name')">Name</th>
                    <th class = "header-item" (click)="sort('northing')">Northing</th>
                    <th class = "header-item" (click)="sort('easting')">Easting</th>
                    <th class = "header-item" (click)="sort('height')">Height</th>
                    <th class = "header-item">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr class = "table-row" *ngFor="let gcp of importedData | filterByName:filter | sortBy:sortColumn:reverse; let i = index ">
                    <td class = "row-data">
                        {{ gcp.name | validName }}
                    </td>
                    <td class = "row-data">{{ gcp.northing | validNumber }}</td>
                    <td class = "row-data">{{ gcp.easting | validNumber }}</td>
                    <td class = "row-data"><gcp-height height="{{gcp.height}}"></gcp-height></td>
                    <td class = "row-data"><button (click)="deleteRow(gcp)">delete</button>
                    <button (click)="openDialog(gcp)">Edit</button></td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>